<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIFtgRbNxBudB_ob7nywU55INAGzTR2J8</string>
	<key>GCM_SENDER_ID</key>
	<string>1036690059242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.tsvetkov.EngPulseSwift</string>
	<key>PROJECT_ID</key>
	<string>tsvet01</string>
	<key>STORAGE_BUCKET</key>
	<string>tsvet01.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036690059242:ios:51d139f6302abf8d644c93</string>
</dict>
</plist>